

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/**********************************
****** ANIMATION BLOC ROND ********
***********************************/

@keyframes abaigrai{

    100%{
        opacity: .6;
        transform: scale(4.5);
    }
}

@keyframes denos{
    25%{
        opacity: .8;
        transform: scale(1);
        width: 25px;
        height: 25px;
    }
    50%{
        opacity: .8;
        transform: scale(1.5);
        width: 50px;
        height: 50px;
    }
    100%{
        opacity: .8;
        transform: scale(2);
        width: 75px;
        height: 75px;
    }
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.boxRond{
    position: relative;
    top:-100px;
    width: 100px;
    height: 100px;
    background: #38383a;
    border-radius: 50%;
    animation: denos 3s linear 0.1s infinite;
}

.boxRond span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #454dbb;
    opacity: .8;
    border-radius: inherit;
    animation: abaigrai 0.5s linear 0.1s infinite;
}


/**********************************
****** ANIMATION BLOC TEXT ********
***********************************/

@keyframes Animation_N_left{
    0%{
        transform: translateX(-10vh);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }

}


@keyframes Animation_A_static{
    
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }

}

@keyframes Animation_N_right{
    0%{
        transform: translateX(10vh);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }

}

.boxText{
    color: #6870e0;
    font-size: 46px;
    font-weight: bold;
    margin-top: 25%;
    margin-left: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.N_left{
    animation: Animation_N_left 1000ms ease-in-out 100ms infinite;
}

.A_static{
    margin-right: 10px;
    margin-left: 10px;
    animation: Animation_A_static 1000ms ease 100ms infinite;
}

.N_right{
    animation: Animation_N_right 1000ms ease-in-out 100ms infinite;
}
